body {
	max-width: 1800px;
	width: calc(100%-100px);
	margin: auto;
}

#chart-container {
	max-height: calc(100% - 100px);
	height: 100%;
}

#horario {
	font-family: Ubuntu;
	text-align: center;
	color: #666;
	font-size: 0.8em;
	padding-left: 60px;
}
