services:
    mariadb:
        container_name: speedtest-mariadb
        image: mariadb:10.11.14
        working_dir: /app
        ports:
            - 3306:3306
        environment:
            - MARIADB_ROOT_PASSWORD=speedtest
            - MARIADB_DATABASE=speedtest
            - MARIADB_USER=speedtest
            - MARIADB_PASSWORD=speedtest
        volumes:
            - type: volume
              source: mariadb
              target: /var/lib/mysql
            - .:/app
            
    phpmyadmin:
        container_name: speedtest-phpmyadmin
        image: phpmyadmin:latest
        restart: always
        environment:
            - MYSQL_ROOT_PASSWORD=speedtest
            - MYSQL_USER=speedtest
            - MYSQL_PASSWORD=speedtest
            - PMA_HOST=db
            - PMA_PORT=3306
            - PMA_USER=speedtest
            - PMA_PASSWORD=speedtest
            - PMA_PMADB=speedtest
#            - PMA_ARBITRARY=0
        ports:
            - 8080:80
        depends_on:
            - mariadb
        links:
            - mariadb:db
        
    redis:
        container_name: speedtest-redis
        image: redis:7.0.15-alpine
        restart: always
        volumes:
            - redis_data:/data
        ports:
            - 6379:6379
            
    redisinsight:
        container_name: speedtest-redisinsight
        image: redis/redisinsight:latest
        restart: always
        ports:
          - "5540:5540"
        depends_on:
          - redis
        volumes:
          - redisinsight_data:/data
          
    php-fpm:
        container_name: speedtest-php-fpm
        build: 
            context: docker
            dockerfile: Dockerfile-php-fpm
        restart: always
        working_dir: /app
        volumes:
            - .:/app
        ports:
            - 9000:9000
        depends_on:
            - nginx
            - mariadb
            - redis            
            
    nginx:
        container_name: speedtest-nginx
        image: nginx:1.29.1-alpine
        restart: always
        working_dir: /app
        volumes:
            - .:/app
            - ./docker/etc/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
        ports:
            - 80:80
        environment:
            - NGINX_HOST=speedtest.local.paginaemconstrucao.com.br
            - NGINX_PORT=80

volumes:
    mariadb:
    redis_data:
    redisinsight_data:
