@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

.ajax_load {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99;
}

.ajax_load_box {
    margin: auto;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.ajax_load_box_circle {
    border: 16px solid #e3e3e3;
    border-top: 16px solid green;
    border-radius: 50%;
    margin: auto;
    width: 80px;
    height: 80px;

    -webkit-animation: spin 1.2s linear infinite;
    -o-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
}

.header {
    width: 100%;
    background-color: var(--color-background-header);
    color: var(--color-background-header-font);
    font-family: 'Hachi Maru Pop', cursive;
    font-weight: 400;
}

.header .header_container {
    /* max-width: 1300px; */
    margin: 0 auto;
    display: flex;
}

.header .header_container a {
    flex-basis: 300px;
    padding: 0px 20px 5px 20px;
    text-decoration: none;
    color: var(--color-background-header-font);
}

header .header_container a h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
}        

.header .header_container .header_nav {
    flex-basis: calc(100% - 260px);
    display: flex;
    justify-content: flex-end;
}

.header_nav ul {
    display: flex;
    align-items: stretch;
}

.header_nav ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.header_nav ul li a{
    padding: 0 40px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #006666;
}

.header_nav ul li a:hover{
    color: #000;
    background-color: #fff;
}

.main {
    /* max-width: 1300px; */
    width: 100%;
    display: block;
}

.main .main_content {
    margin: 0 auto;
}

.main .main_graph {
    width: calc(100% - 100px);
    margin: 0 auto;
}