{# templates/user/edit.html.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} :: {{ 'user'|trans([], 'label') }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><i class="bi bi-person-gear"></i> {{ 'user'|trans([],'label') }}</li>
{% endblock %}

{% block body %}
    {{ include('user/_form.html.twig') }}
{% endblock %}
