name: "TUX"
on:
  push:
    branches: [ "main" ]
    
permissions:
  contents: read
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: "Deploy"
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.TUX_HOST }}
          username: ${{ secrets.TUX_USERNAME }}
          key: ${{ secrets.TUX_SSH_PRIVATE_KEY }}
          port: ${{ secrets.TUX_SSH_PORT }}
          script: |            
            cd /deploy/speedtest
            time ./deploy.sh
